
a {
    text-decoration: none;
    margin: 0 auto;
}

body {
  margin: 0;
  background-color: hsl(225, 100%, 94%);
  font-family: 'Red Hat Display', sans-serif;
}

h1 {
  text-align: center;
  margin-top: 50px;
  font-weight:700;
}

h3 {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  font-weight: 400;
}
.background {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
}

.btn {
  background: #7145f7;
  background-image: -webkit-linear-gradient(top, #491af0, #491af0);
  background-image: -moz-linear-gradient(top, #491af0, #491af0);
  background-image: -ms-linear-gradient(top, #491af0, #491af0);
  background-image: -o-linear-gradient(top, #491af0, #491af0);
  background-image: linear-gradient(to bottom, #491af0, #491af0);
  -webkit-border-radius: 13;
  -moz-border-radius: 13;
  border-radius: 13px;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 600;
  color: #ffffff;
  font-size: 18px;
  padding: 25px 125px 25px 125px;
  text-decoration: none;
}

.btn:hover {
  background: #8f73eb;
  background-image: -webkit-linear-gradient(top, #8f73eb, #7350e6);
  background-image: -moz-linear-gradient(top, #8f73eb, #7350e6);
  background-image: -ms-linear-gradient(top, #8f73eb, #7350e6);
  background-image: -o-linear-gradient(top, #8f73eb, #7350e6);
  background-image: linear-gradient(to bottom, #8f73eb, #7350e6);
  text-decoration: none;
}

.cancel-txt {
  margin: 35px auto;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: grey;
}

.link:hover {
  color: #9966ff;
}

.link2:hover {
  color: #9966ff;
}

.music-icon {
  height: 70px;
  position: relative;
  margin: 25px 0 0 20px;

}

.order-box {
  background-color: white;
  width: 600px;
  height: 800px;
  position: relative;
  bottom: 550px;
  margin: 0 auto;
  border-radius: 50px;
  font-family: 'Red Hat Display', sans-serif;
}

.payment-box {
  padding-top: 50px;
  text-align: center;
}

.pb-txt1 {
  position: relative;
  font-size: 20px;
  left: 125px;
  bottom: 90px;
  font-weight: 900;
}

.pb-txt2 {
  position: relative;
  left: 125px;
  bottom: 100px;
}

.pb-txt3 {
  position: relative;
  left: 310px;
  bottom: 150px;
  color: hsl(245, 75%, 52%);
  font-weight: 900;
}

.plan-box {
  width: 400px;
  height: 120px;
  border-radius: 20px;
  background-color: hsl(225, 100%, 98%);
  position: relative;
  margin: 30px auto 0 auto;
}

.top-img {
  position: relative;
width: 600px;
  border-radius: 50px 50px 0 0;
}
